[submodule "external/lidgren"]
	path = external/lidgren
	url = https://github.com/lidgren/lidgren-network-gen3.git
[submodule "external/websocket"]
	path = external/websocket
	url = https://github.com/sta/websocket-sharp.git
[submodule "external/behaviac"]
	path = external/behaviac
	url = https://github.com/Tencent/behaviac.git
